services:
    postgres:
        image: postgres:alpine
        restart: always
        environment:
            POSTGRES_PASSWORD: postgres
            POSTGRES_USER: postgres
            POSTGRES_DB: project
        volumes:
            - ./db/init.sql:/docker-entrypoint-initdb.d/01-init.sql:ro
        healthcheck:
            test: ["CMD-SHELL", "pg_isready -U postgres"]
            interval: 10s
            timeout: 5s
            retries: 5
        network_mode: "host"
