services:
    postgres:
        image: postgres:alpine
        restart: always
        environment:
            POSTGRES_PASSWORD: postgres
            POSTGRES_USER: postgres
            POSTGRES_DB: project
        volumes:
            - ./db:/docker-entrypoint-initdb.d:ro
        healthcheck:
            test: ["CMD-SHELL", "pg_isready -U postgres"]
            interval: 10s
            timeout: 5s
            retries: 5
        network_mode: "host"

    backend:
        build:
            context: ./backend
            dockerfile: Dockerfile
        restart: always
        depends_on:
            postgres:
                condition: service_healthy
        environment:
            DB_URL: postgres://postgres:postgres@localhost:5432/project
        network_mode: "host"
